.grid-holder {

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 55%;
    top: 12%;


}


.actual-grid {

    display: grid;
    grid-template-columns: repeat(2,400px);
    grid-template-rows: repeat(4,250px);
    row-gap: 15px;
    column-gap: 15px;
   



}


.actual-grid div {


    border: 4px solid rgb(95, 126, 219);
    font-weight: bold;
    font-style: italic;

    
}


#my_projects {


    font-weight: bold;
    font-style: italic;
    font-size: 28px;
    position: relative;
    bottom: 580px;
    left: 6%;
    

}